.parent {
    display:flex;
    justify-content: center;
}

a.social {
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}

a.twitter {
    color: white;
    padding: 0 10px 0 10px;
}

a.discord {
    color: white;
    padding: 0 10px 0 10px;
}   

a.medium {
    color: white;
    padding: 0 10px 0 10px;
}   