*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    background: transparent;
  }
  
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1000px;
    height: 400px;
    background: black;
    margin: 100px auto 0;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }

@media only screen and (max-width: 1024px){
    .container{width: 800px; height: 500px;
    }
  }
 
@media only screen and (max-width: 768px){
    .container{width: 600px; height: 500px;
    }
  }

@media only screen and (max-width: 600px){
    .container{width: 400px; height: 800px;
    }
  }

@media only screen and (max-width: 480px){
    .container{width: 360px; height: 1000px;
    }
  }
 
@media only screen and (max-width: 340px){
    .container{width: 320px; height: 1100px;
    }
  }

.bloc-tabs {
    display: flex;
  }

.tabs {
    padding: 20px;
    text-align: center;
    width: 50%;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    color: white;
  }

@media only screen and (max-width: 480px){
    .tabs{font-size: 20px;}
  }

.tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
.active-tabs  {
    background: black;
    border-bottom: 1px solid transparent;
  }
  
.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: #FFE81F;
}
  
button {
    border: none;
    background-color: black;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: bold;
  }
button:hover
  {
    color: #FFE81F;
  }


.content-tabs {
    flex-grow : 1;
  }
.content {
    background: transparent;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
.content h2 {
    padding: 0px 0 5px 0px;
    font-size: 32px;
    color: white;
    word-break: keep-all;
    text-shadow: 0 0 0.2em hsl(195 50% 50%);
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: bold;
  }
@media only screen and (max-width: 768px){
    .content h2{font-size: 26px;}
  }
.content hr {
    width: 100px;
    height: 2px;
    background: white;
    margin-bottom: 5px;
    text-shadow: 0 0 0.2em hsl(195 50% 50%);
  }
.content p {
    width: 100%;
    height: 100%;
    color: white; 
    word-break: keep-all;
    font-size: 18px;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
  }
@media only screen and (max-width: 768px){
    .content p{font-size: 16px;}
  }
.active-content {
    display: block;
  }