.blade {
   position: absolute;
   background: white;
   height: 140vw;
   width: 2px;
   margin-left: -5%;
   transform: translate(0,17.5%);
 }

.circle {
   position: absolute;
   height: 30px;
   width: 30px;
   border-width: 2px;
   border-style: solid;
   border-radius: 30px;
   border-color: white;
   margin-left: -6vw;
   margin-top: 23%;
   background: black;
}
.circle1 {
   position: absolute;
   height: 30px;
   width: 30px;
   border-width: 2px;
   border-style: solid;
   border-radius: 30px;
   border-color: white;
   margin-left: -6vw;
   margin-top: 43%;
   background: black;
}
.circle2 {
   position: absolute;
   height: 30px;
   width: 30px;
   border-width: 2px;
   border-style: solid;
   border-radius: 30px;
   border-color: white;
   margin-left: -6vw;
   margin-top: 63%;
   background: black;
}
.circle3 {
   position: absolute;
   height: 30px;
   width: 30px;
   border-width: 2px;
   border-style: solid;
   border-radius: 30px;
   border-color: white;
   margin-left: -6vw;
   margin-top: 83%;
   background: black;
}
.circle4 {
   position: absolute;
   height: 30px;
   width: 30px;
   border-width: 2px;
   border-style: solid;
   border-radius: 30px;
   border-color: white;
   margin-left: -6vw;
   margin-top: 103%;
   background: black;
}

.circle5 {
   position: absolute;
   height: 30px;
   width: 30px;
   border-width: 2px;
   border-style: solid;
   border-radius: 30px;
   border-color: white;
   margin-left: -6vw;
   margin-top: 123%;
   background: black;
}

.circle6 {
   position: absolute;
   height: 30px;
   width: 30px;
   border-width: 2px;
   border-style: solid;
   border-radius: 30px;
   border-color: white;
   margin-left: -6vw;
   margin-top: 143%;
   background: black;
}

.box1  {
    position: absolute;
    margin-top: 20%;
    padding: 10%, 0, 10%,0;
    height: 18vw;
    width: 50vw;
 }

.box2  {
   position: absolute;
   margin-top: 40%;
   padding: 10%, 0, 10%,0;
   height: 18vw;
   width: 50vw;
}

.box3  {
   position: absolute;
   margin-top: 60%;
   padding: 10%, 0, 10%,0;
   height: 18vw;
   width: 50vw;
}

.box4  {
   position: absolute;
   margin-top: 80%;
   padding: 10%, 0, 10%,0;
   height: 18vw;
   width: 50vw;
}

.box5  {
   position: absolute;
   margin-top: 100%;
   padding: 10%, 0, 10%,0;
   height: 18vw;
   width: 50vw;
}

.box6  {
   position: absolute;
   margin-top: 120%;
   padding: 10%, 0, 10%,0;
   height: 18vw;
   width: 50vw;
}

.box7  {
   position: absolute;
   margin-top: 140%;
   padding: 10%, 0, 10%,0;
   height: 18vw;
   width: 50vw;
}

.grids {
    max-width: 50%;
    margin: auto;
    grid-template-columns: 1fr 2fr;
 }

.h2 {
   padding: 2vw;
   font-size: 40px;
   font-family: 'Saira Extra Condensed', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
 }

.p {
   padding: 0 2vw 2vw 2vw;
   font-family: 'Saira', sans-serif;
   font-size: 16px;
   font-weight: 300;
   text-align: justify;
}

@media only screen and (min-width: 1920px) {
   .box1 {margin-top: 21%}
   .box2 {margin-top: 41%}
   .box3 {margin-top: 61%}
   .box4 {margin-top: 81%}
   .box5 {margin-top: 101%}
   .box6 {margin-top: 121%}
   .box7 {margin-top: 141%}
   .circle {height:40px;width: 40px; margin-top:24%}
   .circle1 {height:40px;width: 40px; margin-top:44%}
   .circle2 {height:40px;width: 40px; margin-top:64%}
   .circle3 {height:40px;width: 40px; margin-top:84%}
   .circle4 {height:40px;width: 40px; margin-top:104%}
   .circle5 {height:40px;width: 40px; margin-top:124%}
   .circle6 {height:40px;width: 40px; margin-top:144%}
 }

@media only screen and (max-width: 1300px) {
   .p {font-size: 14px;}
}

@media only screen and (max-width: 1300px) {
   .p {font-size: 12px;}
}

@media only screen and (max-width: 1024px) {
   .box1 {width: 60vw;}
   .box2 {width: 60vw; margin-top: 45%}
   .box3 {width: 60vw; margin-top: 70%}
   .box4 {width: 60vw; margin-top: 95%}
   .box5 {width: 60vw; margin-top: 120%}
   .box6 {width: 60vw; margin-top: 145%}
   .box7 {width: 60vw; margin-top: 170%}
   .blade {height: 170vw; transform: translate(0,15%);}
   .h2 {font-size: 32px;}
   .p {font-size: 12px;}
   .circle {height:20px;width: 20px; margin-top:24%}
   .circle1 {height:20px;width: 20px; margin-top:49%}
   .circle2 {height:20px;width: 20px; margin-top:74%}
   .circle3 {height:20px;width: 20px; margin-top:99%}
   .circle4 {height:20px;width: 20px; margin-top:124%}
   .circle5 {height:20px;width: 20px; margin-top:149%}
   .circle6 {height:20px;width: 20px; margin-top:174%}
 }

@media only screen and (max-width: 768px) {
   .box1 {width: 70vw;}
   .box2 {width: 70vw; margin-top: 50%}
   .box3 {width: 70vw; margin-top: 80%}
   .box4 {width: 70vw; margin-top: 110%}
   .box5 {width: 70vw; margin-top: 140%}
   .box6 {width: 70vw; margin-top: 170%}
   .box7 {width: 70vw; margin-top: 200%}
   .blade {height: 210vw; transform: translate(0,12%);}
   .h2 {font-size: 32px;}
   .p {font-size: 12px;}
   .circle {height:20px;width: 20px; margin-top:24%}
   .circle1 {height:20px;width: 20px; margin-top:54%}
   .circle2 {height:20px;width: 20px; margin-top:84%}
   .circle3 {height:20px;width: 20px; margin-top:114%}
   .circle4 {height:20px;width: 20px; margin-top:144%}
   .circle5 {height:20px;width: 20px; margin-top:174%}
   .circle6 {height:20px;width: 20px; margin-top:204%}
 }

@media only screen and (max-width: 640px) {
   .box1 {width: 70vw; margin-top: 23%}
   .box2 {width: 70vw; margin-top: 55%}
   .box3 {width: 70vw; margin-top: 87%}
   .box4 {width: 70vw; margin-top: 119%}
   .box5 {width: 70vw; margin-top: 151%}
   .box6 {width: 70vw; margin-top: 183%}
   .box7 {width: 70vw; margin-top: 215%}
   .blade {height: 220vw; transform: translate(0,13%);}
   .h2 {font-size: 28px;}
   .p {font-size: 10px;}
   .circle {height:15px;width: 15px; margin-top:28%}
   .circle1 {height:15px;width: 15px; margin-top:60%}
   .circle2 {height:15px;width: 15px; margin-top:92%}
   .circle3 {height:15px;width: 15px; margin-top:124%}
   .circle4 {height:15px;width: 15px; margin-top:156%}
   .circle5 {height:15px;width: 15px; margin-top:188%}
   .circle6 {height:15px;width: 15px; margin-top:220%}
 }

@media only screen and (max-width: 490px) {
   .box1 {margin-top: 19%}
   .box2 {margin-top: 65%}
   .box3 {margin-top: 110%}
   .box4 {margin-top: 155%}
   .box5 {margin-top: 200%}
   .box6 {margin-top: 245%}
   .box7 {margin-top: 290%}
   .blade {height: 310vw; transform: translate(0,8.5%);}
   .h2 {font-size: 24px;}
   .p {font-size: 10px;}
   .circle {height:11px;width: 11px; margin-top:25%}
   .circle1 {height:10px;width: 10px; margin-top:70%}
   .circle2 {height:10px;width: 10px; margin-top:115%}
   .circle3 {height:10px;width: 10px; margin-top:160%}
   .circle4 {height:10px;width: 10px; margin-top:205%}
   .circle5 {height:10px;width: 10px; margin-top:250%}
   .circle6 {height:10px;width: 10px; margin-top:295%}
 }

@media only screen and (max-width: 420px) {
   .box1 {margin-top: 19%}
   .box2 {margin-top: 79%}
   .box3 {margin-top: 139%}
   .box4 {margin-top: 199%}
   .box5 {margin-top: 259%}
   .box6 {margin-top: 319%}
   .box7 {margin-top: 379%}
   .blade {height: 420vw; transform: translate(0,6%);}
   .h2 {font-size: 24px;}
   .p {font-size: 10px;}
   .circle {height:11px;width: 11px; margin-top:25%}
   .circle1 {height:10px;width: 10px; margin-top:85%}
   .circle2 {height:10px;width: 10px; margin-top:145%}
   .circle3 {height:10px;width: 10px; margin-top:205%}
   .circle4 {height:10px;width: 10px; margin-top:265%}
   .circle5 {height:10px;width: 10px; margin-top:325%}
   .circle6 {height:10px;width: 10px; margin-top:385%}
 }